<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(120deg, #3498db, #8e44ad);
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .container {
            max-width: 400px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            text-align: center;
        }
        h2 {
            color: #333333;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
            color: #666666;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 30px;
            text-align: center; /* Center align the paragraph */
        }
        .login-button {
            background-color: #4CAF50;
            color: #ffffff;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: block; /* Ensure button is on a new line */
            margin: 20px auto 0; /* Center horizontally and add space above */
        }
        .login-button:hover {
            background-color: #45a049;
        }
        .question-statement {
            align-items: center;
            margin-top: 20px;
            font-size: 14px;
            color: #666666;
        }
       
        
        
        @media screen and (max-width: 480px) {
            .container {
                width: 90%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Verify Your Email Address</h2>
        <p>Please verify your email before logging in. Kindly check your email inbox or spam folder.</p>
        <div class="question-statement">
            <p>Verified your login ID?</p>
        </div>
        <a href="/login" class="login-button">Login</a>
    </div>
        
        
</body>
</html>
